6th semester/Advanced Database Systems/XML Databases/company.dtd

<!ELEMENT COMPANY (ASG*)>
<!ELEMENT ASG (EMP,PROJECT,RESP,DUR)>
<!ELEMENT EMP (Ename, Title, Sal)>
<!ATTLIST EMP Eno CDATA #REQUIRED>
<!ELEMENT Ename (#PCDATA)>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Sal (#PCDATA)>
<!ELEMENT PROJECT (Pname, Budget, Loc)>
<!ATTLIST PROJECT Pno ID #REQUIRED>
<!ELEMENT Pname (#PCDATA)>
<!ELEMENT Budget (#PCDATA)>
<!ELEMENT Loc (#PCDATA)>
<!ELEMENT RESP (#PCDATA)>
<!ELEMENT DUR (#PCDATA)>